*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper{
    background-image: url("ranjith.jpg");
    height: 100vh;
    background-size: cover;
    background-position: top;
}

.logo img{
    float: left;
    width: 125px;
    height: auto;
}

ul{
    float: right;
    margin-top: 20px;
}

ul li{
    display: inline-block;
    
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
    margin-top: 20px;
    border: 1px dotted #fff;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

.about .inner-list:hover{
    visibility: visible;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.title h2{
    position: absolute;
    font-size: 60px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main{
    max-width: 1200px;
    margin: auto;
}

.inner-list{
    visibility: hidden;
}