<h1>ToDo list</h1>

<input #newToDo type="text">
<button (click)="AppendInToDoList(newToDo.value); newToDo.value=''">Submit</button>

<div *ngFor="let item of toDoList">
    <input type="checkbox" name="{{item.task}}" value="item" [checked]="item.isDone" (change)="updateToDoList(item)">
    <label for="{{item.task}}">{{item.task}}</label>
    <b> {{item.isDone ? '&#10003;' : '&#10005;'}}</b>
    <b><button (click)="removeFromToDoList(item)">remove</button></b> <br>
</div>

<br><br><br><br><br>
<select>
    <option *ngFor="let item of testList">{{item}}</option>
</select>